// Custom variables

@custom-color: #CFECEC;
@navbar-collapse-collapsing-font-size: 5vmin;

// Bootstrap overrides

@font-family-sans-serif: "Titillium Web";

@navbar-inverse-bg: white;
@navbar-inverse-border: @custom-color;
@navbar-inverse-link-color: grey;
@navbar-inverse-link-hover-color: @custom-color;
@navbar-inverse-link-hover-bg: white;
@navbar-inverse-link-active-color: black;
@navbar-inverse-link-active-bg: white;
@navbar-inverse-toggle-hover-bg: grey;
@navbar-inverse-toggle-icon-bar-bg: @custom-color;
@navbar-inverse-toggle-border-color: @custom-color;