// Custom variables

@custom-green: #9ab973;
@navbar-collapse-collapsing-font-size: 5vmin;

// Bootstrap overrides

@font-family-sans-serif: "Lato";

@navbar-inverse-bg: white;
@navbar-inverse-border: @custom-green;
@navbar-inverse-link-color: grey;
@navbar-inverse-link-hover-color: @custom-green;
@navbar-inverse-link-hover-bg: white;
@navbar-inverse-link-active-color: @custom-green;
@navbar-inverse-link-active-bg: white;
@navbar-inverse-toggle-hover-bg: grey;
@navbar-inverse-toggle-icon-bar-bg: @custom-green;
@navbar-inverse-toggle-border-color: @custom-green;